/* Utility Stuff */
.focus {
    z-index: 10 !important;
}
button {
    background-color: #d0d0d0;
}
.close-btn {
    font-size: 10px;
    font-weight: 600;
}

/* Main Stuff */
#main-container {
    background: linear-gradient(163deg, rgba(0,212,255,1) 25%, rgba(9,9,121,1) 100%);
    height: 95vh;
}
#os-wrapper {
    position: absolute;
    right: 40vh;
    top: 30vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 64px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    user-select: none;
}
#os-text-2 {
    color: orange;
}

/* Window Stuff */
.window-container {
    width: 50vw;
    position: absolute !important;
    top: 10vh;
    left: 10vw;
    background-color: whitesmoke;
    z-index: 2;
}
.window-tab {
    background: linear-gradient(260deg, rgba(0,212,255,1) 20%, rgba(9,9,121,1) 90%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 3;
    color: white;
    margin: 0.1em;
}
.window-content-wrapper {
    border: 1px solid black;
}
.window-content {
    padding: 0.5em;
    height: 25vh;
    position: relative;
    border: 2px solid #989FA2;
}

/* Icon Stuff */
.icon-wrapper {
    margin: 1em;
    padding: 0.1em;
    display: flex;
    width: fit-content;
}
.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    margin: 1em;
    padding: 0.5em 0.3em 0.5em 0.3em;
}
.icon-container.selected {
    background-color: royalblue;
}
.icon {
    width: 30px;
}
.icon-text {
    user-select: none;
}